/* home.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, #E0BCF3 0%, #7EE7EE 100%);
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    align-items: center;
}

.gridContainer div:nth-child(1) {
    background: linear-gradient(135deg, #b7fbf7, #a4e6ff);
    color: #1d7dfb;

}

.gridContainer div:nth-child(2) {
    background: #C2FFD0;
    border: 1px solid #FFFFFF33
}

.gridContainer div:nth-child(3) {
    background: #C2F0FF;
    border: 1px solid #FFFFFF33
}

.gridContainer div:nth-child(4) {
    background: #EFFFC2;
    border: 1px solid #FFFFFF33
}

.gridContainer div:nth-child(5) {

    background: linear-gradient(135deg, #ffc4d7, #fbb0d2);
    color: #e35296;
}

.gridContainer div:nth-child(6) {
    background: #FFC2F2;
    border: 1px solid #FFFFFF33
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #ff9933;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 129px;
    border-radius: 20px;
    border: 1px;

}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */


/* For mobile devices (phones) */
@media (max-width: 600px) {
    .gridContainer {
        width: 30px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .box {
        width: 127px;
        margin: 0 auto;
    }
}